SERVER_PORT=3000
SERVER_BASE_URL=http://localhost:3000

# mongodb configuration
MONGODB_URI=

# Secret used by Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Better Auth GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
# Better Auth Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# LOG
LOG_LEVEL="debug"
LOG_DIR="./logs"
