<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workrun</title>

    <style type="text/css">
      :root {
        --background: oklch(1 0 0);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --background: oklch(0.145 0 0);
        }
      }

      html,
      body {
        background-color: var(--background);
      }
    </style>
    <% if (MODE === "development") { %>
    <script defer src="http://localhost:8097"></script>
    <% } %>
  </head>

  <body class="size-full">
    <div
      id="root"
      class="size-full bg-[radial-gradient(ellipse_95%_75%_at_50%_-10%,hsl(214_95%_93%/0.8),transparent),radial-gradient(ellipse_70%_55%_at_100%_25%,hsl(270_95%_94%/0.55),transparent),radial-gradient(ellipse_65%_50%_at_0%_100%,hsl(190_95%_94%/0.42),transparent)] dark:bg-[radial-gradient(ellipse_95%_75%_at_50%_-10%,hsl(214_70%_20%/0.5),transparent),radial-gradient(ellipse_70%_55%_at_100%_25%,hsl(270_65%_19%/0.4),transparent),radial-gradient(ellipse_65%_50%_at_0%_100%,hsl(190_70%_18%/0.32),transparent)]"
    ></div>
    <script type="module" src="/main.tsx"></script>
  </body>
</html>
